<section id="login">
    <!--form-->
    <toaster-container></toaster-container>
    <div class="container">
        <div class="row">
            <div class="login-form login" >
                <!--login form-->
                <h2 style="text-align: center !important;
margin: 30px auto;">Change Password</h2>
                <!--                        <h5 class="demo">{{msg}}</h5>-->

                <input type="password" ng-model="login.email" class="form-control" ng-class="allvalidation1[0].validation" required placeholder="Currant Password* " />
                <input type="password" ng-model="login.password" class="form-control" ng-class="allvalidation1[1].validation" required placeholder="New Password *" />

                <button class="btn form-control" ng-click="userlogin(login)">Submit</button>
               
                <!--
							<span>
								<input type="checkbox" class="checkbox form-control"> 
								Keep me signed in
							</span>
-->

            </div>
        </div>
    </div>
</section>
<!--/form-->