<section>
    <div class="container">
        <div class="row" ng-repeat="categories in homecategory">
            <div class="col-sm-2" ng-repeat="category in categories">
                <div class="product-image-wrapper homecat">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="#/subcategory/{{category.id}}" class="homecat">
                                <div><i class="{{category.logo}}"></i>
                                </div>
                                <p>{{category.name}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>