<section>
    <div class="container">
        <div class="row">

            <div class="col-sm-2">
                <div class="product-image-wrapper homecat">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="#/subcategory/5" class="homecat"><div><i class="fa fa-film fa-3x"></i>
                            </div>
                            <p>Cinemas</p>
                            </a>
                            
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/subcategory/4" class="homecat"><i class="fa fa-glass fa-3x"></i></a>
                            </div>
                            <p>Fast Food</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-cutlery fa-3x"></i></a>
                            </div>
                            <p>Restaurents</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-mobile fa-3x"></i></a>
                            </div>
                            <p>Mobile</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-desktop fa-3x"></i></a>
                            </div>

                            <p>Computer</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-plug fa-3x"></i></a>
                            </div>

                            <p>Electronics</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-ambulance fa-3x"></i></a>
                            </div>

                            <p>Emergency/Ambulance</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-taxi fa-3x"></i></a>
                            </div>

                            <p>Taxi's</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-university fa-3x"></i></a>
                            </div>

                            <p>Mall / Supermarkets</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-plus fa-3x"></i></a>
                            </div>

                            <p>Chemists</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-user-md fa-3x"></i></a>
                            </div>

                            <p>Doctors</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-h-square fa-3x"></i></a>
                            </div>

                            <p>Hospitals</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-bus fa-3x"></i></a>
                            </div>

                            <p>Bus/Train/Tickets</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-leaf fa-3x"></i></a>
                            </div>

                            <p>Flower's/Gifts</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-university fa-3x"></i></a>
                            </div>

                            <p>Mall / Supermarkets</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-home fa-3x"></i></a>
                            </div>

                            <p>Home Appliances</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-building fa-3x"></i></a>
                            </div>

                            <p>Real Estate</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-car fa-3x"></i></a>
                            </div>

                            <p>Automobiles</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-gift fa-3x"></i></a>
                            </div>

                            <p>Garments</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-wrench fa-3x"></i></a>
                            </div>

                            <p>Repairs</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-desktop fa-3x"></i></a>
                            </div>

                            <p>Furniture</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-asterisk fa-3x"></i></a>
                            </div>

                            <p>Jewellery</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-building-o fa-3x"></i></a>
                            </div>

                            <p>Hotels</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-user fa-3x"></i></a>
                            </div>

                            <p>paying Guest</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-credit-card fa-3x"></i></a>
                            </div>

                            <p>Loans</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-shopping-cart fa-3x"></i></a>
                            </div>

                            <p>E-commerce</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-money fa-3x"></i></a>
                            </div>

                            <p>ATM's</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-tint fa-3x"></i></a>
                            </div>

                            <p>Petrol Pump's</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-users fa-3x"></i></a>
                            </div>

                            <p>consultancy</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-plane fa-3x"></i></a>
                            </div>

                            <p>Tours And Travels</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-credit-card fa-3x"></i></a>
                            </div>

                            <p>Loans</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-star-half-full fa-3x"></i></a>
                            </div>

                            <p>Party / Events</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-soccer-ball-o fa-3x"></i></a>
                            </div>

                            <p>Club</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-bicycle fa-3x"></i></a>
                            </div>

                            <p>Gyms / Spa</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-female fa-3x"></i></a>
                            </div>

                            <p>Beauty Parlour</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-lock fa-3x"></i></a>
                            </div>

                            <p>Security</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-heart fa-3x"></i></a>
                            </div>

                            <p>Matrimonial</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-wifi fa-3x"></i></a>
                            </div>

                            <p>Internet / Cable</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-moon-o fa-3x"></i></a>
                            </div>

                            <p>Night Life</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-book fa-3x"></i></a>
                            </div>

                            <p>Book's</p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <div><a href="#/category" class="homecat"><i class="fa fa-truck fa-3x"></i></a>
                            </div>

                            <p>Towing</p>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


