<div class="header-middle" ng-controller="OtherCtrl"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<div class="logo pull-left">
							<a href="#/home"><img src="lib/images/home/logo(1).png" style="height:45px;" alt="" /></a>
						</div>
						<div class="btn-group pull-right">
								<form action="#" class="searchform">
                                <input type="text" placeholder="Search..." style="width:500px;"/>
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            </form>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-user"></i> {{signuppro}}</a></li>
								<li><a ng-click="loginfunction()"><i class="fa fa-lock"></i> {{loginlogout}}</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="banner">
                   <img src="lib/images/ad/ad.jpg" width="100%">
                </div>
			</div>
		</div><!--/header-middle-->