<div class="container">
    <div class="row">
        <div class="col-xs-12">
           <div class="phone" style="text-align: right;">
						<a href="#" class="with-symbol mrd10" data-size="" data-position="top-left" data-align="right">
							<span class="symbol"><img src="lib/images/home/Telephone-icon.png" style="width:20px;">022222 11111</span>
						</a>
					</div>
            <p class="text-center mrt10">
                <a href="#/home"><img src="lib/images/home/logo(1).png" style="height:100px;" /></a>
            </p>
            
        </div>
    </div>
</div>
