<div class="container">
   
   
				<div class="banner">
                   <img src="lib/images/ad/ad.jpg" ng-show="banner.banner==''" width="100%">
                   <img src="lib/images/ad/{{banner.banner}}" ng-show="banner.banner!=''" width="100%">
                </div>
   
    <div class="row" style="height:10px;">
    </div>
    <div class="" ng-repeat="cat in subcat">
        <div class=" subcat">
        <a ng-click="waytoin(cat.id)" >
           
                <div class="pull-right subfa">
                    <i class="fa fa-arrow-circle-o-right fa-2x"></i>
                </div>
                <h4>{{cat.name}}</h4>
        </a>
        </div>
    </div>

    <div class="row" style="height:10px;">
    </div>
</div>