<div class="container">
   
   
				<div class="banner">
                   <img src="{{'ad/'+ad.jpg | imagepath1}}" ng-show="banner.banner==''" width="100%">
                   <img src="{{'png/'+banner.banner | imagepath1}}" ng-show="banner.banner!=''" width="100%">
                </div>
   
    <div class="row" style="height:10px;">
    </div>
    <div class="">
    <div class="sub-hover" ng-repeat="cat in subcat ">
        <div class=" subcat">
        <a ng-click="waytoin(cat.id)" >
           
                <div class="pull-right subfa">
                    <i class="fa fa-arrow-circle-o-right fa-2x"></i>
                </div>
                <h4>{{cat.name}}</h4>
        </a>
        </div>
    </div>
</div>
    <div class="row" style="height:10px;">
    </div>
</div>